<h1>BOOKFINDER</h1>


    <h3>ENTER AN ISBN</h3>
    
    <%= form_tag new_path do %>
	<%= text_field_tag :isbn, nil, placeholder: "ISBN" %><br />
        <%= submit_tag "Submit Book" %>
    <% end %>
</div>